body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

circle {
    fill: red;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
    r: 5px; /* Smaller clickable circles */
}

circle:hover {
    fill: blue;
}
